@page
@model RazorPagesMiniProject.Pages.PeopleModel
@{
    ViewData["Title"] = "People";
}

<h1>People</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="Person.FirstName"></label>
        <input asp-for="Person.FirstName" type="text" placeholder="First Name" />
    </div>
    <div class="form-group">
        <label asp-for="Person.LastName"></label>
        <input asp-for="Person.LastName" type="text" placeholder="Last Name" />
    </div>
    <div class="form-group">
        <input asp-for="Person.IsActive" type="checkbox" />
        <label asp-for="Person.IsActive"></label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
